<!DOCTYPE html>
`<html lang="uk" xmlns:th="http://www.thymeleaf.org">`
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form th:action="@{/users/{id}/update(id=${user.id})}" method="post">
<!--    <label for="hiredate"> Birthdate-->
<!--        <input id="hiredate" type="date" name="hireDate" th:value="*{user.hireDate}">-->
<!--    </label>-->
    <label for="firstname"> First Name
        <input id="firstname" type="text" name="firstName" th:value="*{user.firstName}">
    </label>
    <br>
    <label for="lastName"> Last Name
        <input id="lastName" type="text" name="lastName" th:value="*{user.lastName}">
    </label>
    <br>
    <label for="salary"> Salary
        <input id="salary" type="number" name="salary" th:value="*{user.salary}">
    </label>
    <br>
    <label for="position"> Birthdate
        <input id="position" type="text" name="position" th:value="*{user.position}">
    </label>
    <br>
    <div>
        <label for="company"> Company:
            <select id="company" name="companyId">
                <option th:each="company : ${companies}"
                        th:value="${company.id()}"
                        th:selected="${company.id() == user.company.id()}"
                        th:text="${company.name()}"/>
            </select>
        </label>
    </div>
    <br>
    <button type="submit"> Submit</button>
    <br>
</form>
<a href="/users">Go back</a>
<br>
<form th:action="@{/users/{id}/delete(id=${user.id})}" method="post">
    <button type="submit">Remove</button>
</form>
</body>
</html>